// Base Compass Setup
@import "compass/reset";
@import "compass/css3";
@import "compass/typography";

// Layout Settings
$header-height: 170px;
$base-padding: 25px;
$page-padding: 15px;
$max-width: 660px;

// Colors
$page-background-color: #ffffff;

// Fonts
$font-stack: "-apple-system", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-stack-bold: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-weight: 300;
$font-color: #3a3a3a;
$link-color: #846BDF;
$dead-link-color: #DF6B6B;
$font-size: 1.15em;

// Vertical Rhythem
$base-font-size: 14px;
$base-line-height: 28px;
@include establish-baseline;
