// Button styles
@import "base";

$button-color: #48CA82;

.button, a.button {
  padding: .6em 1em;
  color: $button-color;
  font-weight: $font-weight + 100;
  text-decoration: none;
  border: 1px solid $button-color;
  @include border-radius(3px);
}

a.button:hover {
  background: $button-color;
  color: #ffffff;
//   @include background(linear-gradient(lighten(#c565de, 7%), lighten(#ae3ccb, 3%)));
}

a.button:active {
//   @include background(linear-gradient(#ae3ccb, #ae3ccb));
}
