// Header Styles - Instagram backdrop
@import "base";

.wrapper-header {
  background: #2a2a2a;
  overflow: hidden;
  height: $header-height;
  position: relative;
  border-bottom:1px solid white;
  margin-bottom: $base-padding;

  // Image Shell
  #instafeed {
    width: 150%;
    height: $header-height + 100px;
    position: absolute;
    top:-100px;
    left: -100px;
    z-index: 1;
  }

  // Image Shell shadow
  .shadow {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    $experimental-support-for-svg: true;
    @include background(linear-gradient(
      rgba(0,0,0,0.4) 50%,
      rgba(0,0,0,0.8) 100%
    ));
  }

  // Content Wrapper - center's content
  .wrapper-content {
    text-align: center;
    position: absolute;
    bottom: $base-padding;
    left:0;
    right:0;
    z-index: 2;
  }

  // Heading text
  header {
    // Layout
    margin:auto auto auto auto;
    text-align: left;
    width: 100%;
    max-width: $max-width - $page-padding;
    padding-left: $page-padding;
    position:relative;
    // background:red;

    // Font
    color: white;
    font-family: $font-stack;
    font-weight: $font-weight;
    font-size: $font-size + ($font-size * 0.95) !important;
    -webkit-font-smoothing: antialiased;
    @include text-shadow(rgba(0,0,0,0.65) 0 1px);
  }
}
